.display-results {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: center;
}

.recipe-results {
    border: 1px solid $text;
    border-radius: 5px;
    background: $background-color-dark;
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 20px;

    p {
        font-size: 1.6rem;
    }

    h2 {
        font-family: $cursive;
        color: darken($accent, 20%);
    }

    &:active, &:hover, &:focus {
        background-color: $background-color;
    }

}